@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,500;600&display=swap');

:root {
  --mainbg: #fff5;
  --green: #1DB954;
  --red: #f04848;
  --background: #adadad;
  --foreground: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background: var(--background);
  color: var(--foreground);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  padding: 1rem;
  width: 100%;
  min-width: 320px;
  max-width: 400px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  /* align-items: baseline; */
}

.header h2 {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h2 span {
  display: inline-block;
  margin: auto .2em;

}

.container {
  flex-grow: 1;
}

.inc-exp-container {
  display: flex;
  
  flex-grow: 1;
  text-align: center;
  background: var(--mainbg);
  border-radius: 1em;
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
}

.income {
  color: #fff;
  background: var(--green);
}

.expense {
  color: #fff;
  background: var(--red);
}

/* .inc-exp-container::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 80%;
  background: linear-gradient(transparent, var(--background), transparent);
  z-index: 2;
} */

.inc-exp-container div {
  flex-grow: 1;
  /* padding: 1em 2em; */
  display: flex;
  flex-direction: column;
  min-height: 5em;
  justify-content: center;
  width: 50%;
}

.inc-exp-container div h4 {
  text-transform: uppercase;
  width: 100%;
}

.inc-exp-container div p.money {
  font-weight: 500;
  font-size: 1.3rem;
  width: 100%;
}

/* .inc-exp-container div p.plus {
  color: var(--green);
}

.inc-exp-container div p.minus {
  color: var(--red);
} */

.list {
  list-style-type: none;
  margin: 0.5em 0;
}

.list li {
  background-color: var(--mainbg);
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0.5em 0;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
}

.list li.plus {
  border-right: 5px solid var(--green);
  border-left: 5px solid var(--green);
}

.list li.minus {
  border-right: 5px solid var(--red);
  border-left: 5px solid var(--red);
}

.delete-btn {
  cursor: pointer;
  color: var(--red);
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  transition: opacity 200ms ease;
  background: none;
  border: none;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.list li:focus .delete-btn {
  opacity: 1;
}

form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.alert {
  background: #ff202090;
  border-radius: 99px;
  padding: .2em .5em;
  color: #fff;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control.radio {
  flex-direction: row;
}

.form-control.radio input {
  margin: auto 1em;
  width: 1em;
}

.form-control label,
input,
button {
  font-size: 1rem;
  font-family: inherit;
}

.form-control input {
  border: none;
  padding: 0.2em 0.5em;
  margin: 0.2em 0 0.5em 0;
  border-radius: 0.5em;
  background: var(--mainbg);
  color: inherit;
}

.form-control input:focus {
  outline: none;
}

.btn {
  border: none;
  background: #9d5ef0;
  padding: 0.4em 1em;
  margin: 0.5em 0;
  border-radius: 0.5em;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  transition: filter 300ms ease;
}

.btn:hover {
  filter: brightness(1.1);
}

.footer {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
}

.logout {
  background: var(--red);
}

.logsin {
  margin: auto 0;
  position: relative;
}

.logsin .btn {
  width: 100%;
}

.logsin h1 {
  text-align: center;
  margin: 1rem 0;
  font-size: 2rem;
  background-color: var(--mainbg);
  width: max-content;
  padding: 0.2em 1em;
  border-radius: 99px;
  position:absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logsin a {
  color: #8c39fa;
  text-decoration: none;
  text-align: center;
  margin-top: .5em;
  cursor: pointer;
}

.logsin p {
  text-align: center;
  margin-top: .5em;
}
